body {
  color: #eee;
}

.center {
  text-align: center;
}

.error {
  color: red;
}

/* Nav Styles */

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  margin: 20px 30px 0px;
}

.nav li:first-child {
  padding-left: 0;
}

.nav a {
  color: #eee;
  text-decoration: none;
}

.nav a:hover {
  color: #fff;
  text-decoration: underline;
}

.nav a.active {
  font-weight: bold;
  cursor: default;
}

.nav a.active:hover {
  color: #eee;
  text-decoration: none;
}

.logout-link {
  font-weight: normal;
  color: #eee;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

/* Poll List Styles */
.poll-list {
  margin: 30px;
  border: 1px solid #ccc;
  border-radius: 7px;
}

.no-items {
  text-align: center;
  padding: 20px;
  color: #ccc;
}

.poll-list-header {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  background-color: #ccc;
  border-radius: 5px 5px 0 0;
}

.poll-list-header h2 {
  margin: 0;
  font-size: 25px;
  color: #333;
}

.poll-list-container {
  gap: 20px;
}

/* Poll styles */
.poll-list li {
  display: inline-block;

  margin: 10px;
}

.poll {
  border: 1px solid #ccc;
  height: 135px;
  width: 250px;
  display: grid;
  border-radius: 7px;
}

.poll .author {
  font-weight: bold;
  margin-bottom: -5px;
}

.poll .poll-detail {
  margin-bottom: 15px;
}

.poll-detail {
  color: #ccc;
  font-size: 15px;
}

.poll-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 10px 15px;
}

.submit-button {
  width: 100%;
  padding: 5px 25px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

.poll h3 {
  color: #eee;
  margin: 5px;
}

.poll-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.poll-container .poll-footer {
  width: 100%;
  padding: 10px;
  margin-bottom: -10px;
}

.poll-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;
}

.poll-option h3 {
  overflow-wrap: break-word;
  width: 500px;
}

.voted {
  color: #fff;
  border: 1px solid #4caf50;
}

.voted .poll-footer {
  background-color: #4caf50;
  color: #fff;
}

/* Leaderboard styles */
.leaderboard-table {
  width: 95%;
  border-spacing: 0;
  margin: 30px;
  color: #fff;
}

.leaderboard-table th,
.leaderboard-table td {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: left;
}

.leaderboard-table th {
  background-color: #ccc;
  color: #333;
  border-right: 1px solid #333;
}

.leaderboard-table th:first-child {
  border-radius: 7px 0 0 0;
}

.leaderboard-table th:last-child {
  border: 1px solid #ccc;
  border-radius: 0 7px 0 0;
}

.leaderboard-table tr:last-child td:first-child {
  border-radius: 0 0 0 7px;
}

.leaderboard-table tr:last-child td:last-child {
  border-radius: 0 0 7px 0;
}

.user-info {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.active-user {
  color: #4caf50;
}

/* Avatar styles */

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar-medium {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar-small {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Add Poll styles */
.add-poll-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.add-poll-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.option-input {
  width: 500px;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* Login styles */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.login-image-container {
  background-image: url(./assets/jon-tyson-PXB7yEM5LVs-unsplash.jpg);
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin: 20px auto;
}

.logged-in-user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}
